/* Base style setup */
.login-page {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100vh;
  background-color: #f0f0f0;
}

.login-box {
  background-color: #ffffff;
  padding: 2em;
  border-radius: 10px;
  width: 390px; 
  box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.1);
  font-size: 1.3em;
}

/* Input group */
.input-group {
  position: relative;
  margin-bottom: 1.5em;
}

/* Input */
.input-group input {
  width: calc(100% - 1em); 
  padding: 1em 1em 1em 4em; 
  border-radius: 0.5em;
  border: 1px solid #ddd;
  box-sizing: border-box;
}

/* Icon */
.input-group i {
  position: absolute;
  top: 50%;
  left: 1em;
  transform: translateY(-50%);
  font-size: 1.2em;
}

.icon-email::before {
  content: "\2709";
}

.icon-password::before {
  content: "\1F511";
}

/* Button */
button {
  width: 100%;
  padding: 1em;
  border: none;
  background-color: #4CAF50;
  color: white;
  border-radius: 0.5em;
  cursor: pointer;
  margin-bottom: 1em;
}

button:hover {
  background-color: #45a049;
}

/* Headline */
.headline {
  font-size: 1.5em;
  color: #4CAF50;
  text-align: center;
  margin-bottom: 1.5em;
}

.login-notification {
  position: fixed;
  top: 0;
  left: 50%;
  transform: translateX(-50%);
  background-color: rgb(10, 223, 28);
  color: white; /* 设置字体颜色为白色 */
  padding: 10px;
  border-radius: 5px;
  animation: fadeOut 2s forwards;
  font-size: larger; /* 增加字体大小 */
  font-weight: bold; /* 加粗字体 */
  display: flex; /* 使用Flexbox布局 */
  justify-content: center; /* 水平居中 */
  align-items: center; /* 垂直居中 */
  width: 200px; /* 假设原来是100px */
  height: 100px;
}



@keyframes fadeOut {
  from {
    opacity: 1;
  }
  to {
    opacity: 0;
  }
}

